*{
    margin: o;
    padding: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-style: none;
    padding: 0px;
    margin: 0px;
    /* background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fes.m.wikipedia.org%2Fwiki%2FArchivo%3AArepas_con_chorizo.jpg&psig=AOvVaw04QIJm2_5cdRHxyq43ZExw&ust=1706935836252000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIDr8JLui4QDFQAAAAAdAAAAABAE");
    background-position: top;
    background-repeat: no-repeat;  */
    /* background-color: maroon; */

}

ul{
    list-style: none;
}
.logo a{
    text-decoration: none;
    color: maroon;
}

header{
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: transparent;
    display: flex;
}
#Head{
    height: 16vh;
    width: 100vw;
    display: flex;
    
}
.logo{
    width: 60%;
    height: 15vh;
    color: maroon;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    /* flex-direction: row-reverse; */
    /* font-size: 2.5em; */
}
.logo h2{
    font-size: 2.5em;
    margin-top: 8px;
    margin-bottom: 0px;

}
footer{
    width: 25%;
    height: 80vh;
    display: flex;
    align-items: self-end;
    justify-content: flex-end;
    margin-right: 2vw;

}
#reservas   {
    
    background-color: rgb(41, 39, 39);
    width: 200px;
    height: 50px;
    border-color: grey;
    color: white;
    position: fixed;
}
 p{
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-right: 22px;
    font-size: 0.9em;
}

#Menus{
    width: 40%;
    height: 15vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
#Menus ul a{
    text-decoration: none;
    color: black;
}
.navegaddor{
    text-decoration: none;
    padding: 0px;
    margin: 2px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 12vh;
    color: black;
}
#contenedor{
    display: flex;
    align-items: center;
    overflow: hidden;
}
#home{
    width: 100vw;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* background-image: url("../img/oreada.jpeg");
    
    background-repeat: no-repeat;
    background-size: cover ;
    background-size: 1500px; */

}

#left-home{
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding-right: 2vw ;
    padding-left: 2vw;
    background-image: none;
    color: transparent;
}
#rigth-home{
    width: 200vw;
    height: 110vh;
    background-image: url("../img/oreada.jpeg");
    /* background-image: url("https://static.vecteezy.com/system/resources/previews/027/057/177/non_2x/slices-of-roast-beef-on-a-white-plate-on-a-black-background-generative-ai-free-photo.jpg"); */
    background-repeat: no-repeat;
    background-size: cover ;
    /* background-size: 1500px; */
}
#left-home p{
    margin: 0;
    color: black;
}
#left-home h1{
    margin-top: 4vh;
    margin-bottom: 4vh;
}
#rigth-home{
    width: 50vw;
    display: flex;
    align-items: flex-end;
}
#about{
    width: 100vw;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-about{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-content: stretch; */
    align-items: center;
    padding-top: 45vh;
    padding-left: 5vw;
}
.rigth-about{
    display: flex;
    width: 60vw;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.im-rigth-about{
    display: flex;
    width: 50vw;
    height: 60vh;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.im-rigth-about img{
    width: 30vw;
    height: 55vh;
}

.rigth-about img{
    display: flex;
    width: 30vw;
    height: 60vh;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
h1{
    color: maroon;
    font-size: 2em;
    padding: 0;
}
p{
    font-size: 1em;
    padding-left: 3vh;
}
#sobrenosotros{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    background-image: url("../img/mazorquitas.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#historia{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
}
.background-img-historia{
    height: 100%;
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/carne2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}  

#historia .background-img-historia{
    background-image: none;
}

.background-img-historia img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4vw;
}
#galleta{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: white;
    /* background-image: url("../img/images.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    justify-content: center;
    
}
#galleta p{
    color: black;
}
#historia h1{
    color: salmon;
}
#menu{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* background-image: url("); */
    background-repeat: no-repeat;
    background-size: cover;

}
button{
    width: 14vw;
    height: 15vh;
    background-color: white;
    border: white;
    color: black;
    font-size: 1.5em;
}
#services{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cuadrados{
    display: flex;
    justify-content: space-evenly;
    width: 100vw; 
    
}
.cuadrado{
    background-color: white;
    width: 270px;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 2px auto;
    border: white;
}
#space{
    width: 100vw;
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}
#Espacios{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Pet-friendly{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    /* background-image: url("../img/platos.jpeg");
    background-repeat: no-repeat;
    background-size: cover; */

}
#Pet-friendly .rigth-about{
    background-color: black;
    width: 56vw;
    height: 101vh;
}
#contact{
    width: 100vw;
    height: 100vh;
    display: flex;
    float: left;
    align-items: center;
    background-color: black;
}
.im-rigth-about{
    /* background-image: url("../img/menu.jpeg");
    background-repeat: no-repeat; */
    background-size: cover; 
    height: 100vh;
}
.im-rigth-about img{
    height: 90vh;
    width: 47vw;
    margin-left: 3vw ;
}
div img {
    width: 25vw;
    height: 55vh;
    margin-right: 3vw;
}
#Pet-friendly{
    color: black;
    display: flex;
    align-items: center;
}
#space-galleta{
    background-image: url("../img/Mute.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
}
.fondo-negro{
    background-color: black;
}
#Cambio-de-menu,#Cambio-de-menu+label{
    display: none;

}
#left-contact{
    width: 60vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}
.contacto{
    width: 22vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#rigth-contact{
    width:40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}
input[type="checkbox"]{
    visibility: hidden;
}
@media (max-width:850px){
    header{
        display: flex;
        justify-content: center;
    }
    #Head{
        height: 10vh;
    }
    .logo{
        width: 65%;
        font-size: 0.7em;
    }
    footer {
        width: 25%;
        height: 95vh;
        display: flex;
        align-items: self-end;
        justify-content: flex-end;
        margin-right: 2vw;
    }
    .navegaddor{
        display: none;
    }
    #Cambio-de-menu,#Cambio-de-menu+label{
        display: block;
        color: white;
    }
    #Cambio-de-menu+label{
        margin-top: 4vh;
    }
    #Menus:has(input[type="checkbox"]:checked) .navegaddor{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 95%;
    }
    #Menus:has(input[type="checkbox"]:checked) {
        flex-wrap: nowrap;
        flex-direction: row;
        margin-left: 4vw;
    }

    #about{
        display: flex;
        flex-direction: column;
        height: 197vh;
    }
    #sobrenosotros{
        display: flex;
        flex-direction: column;
    }
    #historia{
        display: flex;
        flex-direction: column;
        background-image: none;
        justify-content: space-evenly;
    }
    #Pet-friendly{
        display: flex;
        flex-direction: column;
        background-image: none;
    }
    #Pet-friendly .rigth-about{
        background-color: black;
        width: 100vw;
        height: 101vh;}
    #menu{
        display: flex;
        flex-direction: column;
        background-image: none;
    }
    #space{
        display: flex;
        flex-direction: column;
        background-image: none;
    }
    
    #services{
        padding-left: 20px ;
        padding-right: 20px;
        width: 90vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        background-image: none;
    }
    #left-home{
        /* padding-right: 0; */
        padding-left: 20px ;
        padding-right: 20px;
        width: 100vw;
        height: 70vh;
    }
    .left-about{
        padding-left: 20px ;
        padding-right: 20px;
        padding-top: 2px;
        width: 100vw;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #sobrenosotros .left-about{
        height: 100vh;
    }
    .rigth-about{
        padding-left: 20px ;
        padding-right: 20px;
        width: 100vw;
        height: 50vh;
    }
    .rigth-about img {
        display: flex;
        width: 60vw;
        height: 35vh;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;}
    .background-img-historia{
        background-image: none;
        background-color: transparent;
        display: flex;
        width: 0;
        height: 0;

    }  
    div img {
        width: 67vw;
        height: 30vh;
    }
    .im-rigth-about {
        display: flex;
        width: 55vw;
        height: 65vh ;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .im-rigth-about img {
        padding-bottom: 10px;
        width: 80vw;
        height: 45vh;}
    button {
        width: 43vw;
        height: 11vh;
        background-color: white;
        border: black;
        color: black;}
    #galleta {
        width: 89vw;
        height: 60vh;
        display: flex;
        align-items: center;
        background-color: white;
        justify-content: center;
        }
    h1{
        margin-top: 0px;
        margin-bottom: 0px;
        padding: none;
    }
    #home{
        background-image: url("../img/oreada.jpeg");
        background-repeat: no-repeat;
        background-size: cover ;
        background-size: 1500px;
    }
    #rigth-home{
        display: none;
        }
    #galleta{
        width: 50vw;
        height: 100vh;
        display: flex;
        align-items: center;
        background-color: white;
        background-image: url("../img/images.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;}
    #contact{
        display: flex;
        flex-direction: column;
    }
    #left-contact{
        width: 100vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
    }
    .contacto{
        width: 50vw;
        height: 25vw;
    }
    #rigth-contact{
        width: 100vw;
        height: 50vh;
    }
    .rigth-about img {
        display: flex;
        width: 45vw;
        height: 45vh;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    }
